// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Custom
#listDevices>tr:nth-child(1n)>td>i.fa.fa-circle {
    color: var(--bs-primary) !important;
}
#listDevices>tr:nth-child(2n)>td>i.fa.fa-circle {
    color: var(--bs-info) !important;
}
#listDevices>tr:nth-child(3n)>td>i.fa.fa-circle {
    color: var(--bs-warning) !important;
}
#listDevices>tr:nth-child(4n)>td>i.fa.fa-circle {
    color: var(--bs-secondary) !important;
}
#listDevices>tr:nth-child(5n)>td>i.fa.fa-circle {
    color: var(--bs-danger) !important;
}
#listDevices>tr:nth-child(6n)>td>i.fa.fa-circle {
    color: var(--bs-success) !important;
}
